<a href="https://colab.research.google.com/github/prithvi394/Appium-TestNG/blob/master/DataVisualization_Team7.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [74]:
from google.colab import drive
drive.mount('/content/drive')

%cd '/content/drive/MyDrive/Team7'

Drive already mounted at /content/drive; to attempt to forcibly remount, call drive.mount("/content/drive", force_remount=True).
/content/drive/MyDrive/Team7

In [75]:
import sqlite3
import pandas as pd
import csv

con = sqlite3.Connection('newdb.sqlite')
cur = con.cursor()

cur.execute("Select degree,COUNT(degree),salary from adult where salary= ' >50K' group by degree ;")

for record in cur.fetchall():
  print(record)

print("--------------------")

cur.execute("Select degree,COUNT(degree),salary from adult where salary= ' <=50K' group by degree ;")

for record1 in cur.fetchall():
  print(record1)

(' 10th', 62, ' >50K')
(' 11th', 60, ' >50K')
(' 12th', 33, ' >50K')
(' 1st-4th', 6, ' >50K')
(' 5th-6th', 16, ' >50K')
(' 7th-8th', 40, ' >50K')
(' 9th', 27, ' >50K')
(' Assoc-acdm', 265, ' >50K')
(' Assoc-voc', 361, ' >50K')
(' Bachelors', 2221, ' >50K')
(' Doctorate', 306, ' >50K')
(' HS-grad', 1675, ' >50K')
(' Masters', 959, ' >50K')
(' Prof-school', 423, ' >50K')
(' Some-college', 1387, ' >50K')
--------------------
(' 10th', 871, ' <=50K')
(' 11th', 1115, ' <=50K')
(' 12th', 400, ' <=50K')
(' 1st-4th', 162, ' <=50K')
(' 5th-6th', 317, ' <=50K')
(' 7th-8th', 606, ' <=50K')
(' 9th', 487, ' <=50K')
(' Assoc-acdm', 802, ' <=50K')
(' Assoc-voc', 1021, ' <=50K')
(' Bachelors', 3134, ' <=50K')
(' Doctorate', 107, ' <=50K')
(' HS-grad', 8826, ' <=50K')
(' Masters', 764, ' <=50K')
(' Preschool', 51, ' <=50K')
(' Prof-school', 153, ' <=50K')
(' Some-college', 5904, ' <=50K')